<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            {{#each site.features}}
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x {{this.icon}} text-primary mb-4"></i>
                        <h5 class="mb-3">{{this.title}}</h5>
                        <p>{{this.description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<!-- Service End -->

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="{{site.aboutImage}}" alt="{{site.aboutTitle}}" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">Về Chúng Tôi</h6>
                <h1 class="mb-4">{{site.aboutTitle}}</h1>
                <p class="mb-4">{{site.aboutDescription}}</p>
                <div class="row gy-2 gx-4 mb-4">
                    {{#each site.aboutPoints}}
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>{{this}}</p>
                    </div>
                    {{/each}}
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="/courses">Xem Khóa Học Của Chúng Tôi</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">{{site.teamSubtitle}}</h6>
            <h1 class="mb-5">{{site.teamTitle}}</h1>
        </div>
        <div class="row g-4">
            {{#each instructors}}
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="{{#if this.avatar}}{{this.avatar}}{{else}}/img/team-1.jpg{{/if}}" alt="Giáo viên {{this.firstName}}">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">{{this.firstName}} {{this.lastName}}</h5>
                        <small>Giảng Viên Chuyên Nghiệp</small>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="col-12 text-center">
                <p>Đang cập nhật danh sách giáo viên...</p>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<!-- Team End -->
<!-- Team End -->