
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="/img/about.jpg" alt="Về EnglishMaster" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">Về Chúng Tôi</h6>
                <h1 class="mb-4">Chào mừng đến với EnglishMaster</h1>
                <p class="mb-4">EnglishMaster là trung tâm luyện thi tiếng Anh hàng đầu Việt Nam, chuyên sâu về các khóa học TOEIC, IELTS và TOEFL.</p>
                <p class="mb-4">Với hơn 10 năm kinh nghiệm, chúng tôi đã giúp hàng ngàn học viên đạt được điểm số mơ ước và mở ra cánh cửa cơ hội quốc tế.</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Giáo viên bản ngữ chất lượng</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Lớp học online linh hoạt</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Cam kết tăng điểm</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Lộ trình học cá nhân hóa</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Tài liệu cập nhật mới nhất</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Học thử miễn phí</p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="/about">Tìm Hiểu Thêm</a>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5 category">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Các Loại Bài Thi</h6>
            <h1 class="mb-5">Bài Thi Tiếng Anh Phổ Biến</h1>
        </div>
        <div class="row g-3">
            <div class="col-lg-7 col-md-6">
                <div class="row g-3">
                    {{#each categories}}
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                        <a class="position-relative d-block overflow-hidden" href="/courses?category={{this._id}}">
                            <img class="img-fluid" src="/img/cat-1.jpg" alt="{{this.name}}"> <!-- Placeholder img, maybe use category image if avail -->
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                <h5 class="m-0">{{this.name}}</h5>
                                <small class="text-primary">{{this.description}}</small>
                            </div>
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Khóa Học</h6>
            <h1 class="mb-5">Khóa Học Tiếng Anh Phổ Biến</h1>
        </div>
        <div class="row g-4 justify-content-center">
            {{#each popularCourses}}
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="course-item bg-light">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid" src="{{this.thumbnail}}" alt="{{this.title}}">
                        <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                            <a href="/courses/{{this._id}}" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Chi Tiết</a>
                            <a href="/cart/add/{{this._id}}" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Đăng Ký</a>
                        </div>
                    </div>
                    <div class="text-center p-4 pb-0">
                        <h3 class="mb-0">{{this.price}}₫</h3>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small>({{this.averageRating}})</small>
                        </div>
                        <h5 class="mb-4">{{this.title}}</h5>
                    </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>{{this.instructor.name}}</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>{{this.duration}} hrs</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>-</small>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="col-12 text-center">
                <p>Chưa có khóa học nào nổi bật.</p>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Giảng Viên</h6>
            <h1 class="mb-5">Đội Ngũ Giáo Viên Chuyên Nghiệp</h1>
        </div>
        <div class="row g-4">
            {{#each instructors}}
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/img/team-1.jpg" alt="Giáo viên {{this.firstName}}">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">{{this.firstName}} {{this.lastName}}</h5>
                        <small>Giảng Viên Chuyên Nghiệp</small>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="col-12 text-center">
                <p>Đang cập nhật danh sách giáo viên...</p>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Đánh Giá</h6>
            <h1 class="mb-5">Học Viên Nói Gì Về Chúng Tôi!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            {{#each testimonials}}
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="/img/testimonial-1.jpg" style="width: 80px; height: 80px;" alt="Học viên {{this.user.firstName}}">
                <h5 class="mb-0">{{this.user.firstName}} {{this.user.lastName}}</h5>
                <p>Học viên xuất sắc</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">{{this.comment}}</p>
                </div>
            </div>
            {{else}}
            <div class="testimonial-item text-center">
                <p>Hãy là người đầu tiên để lại đánh giá!</p>
            </div>
            {{/each}}
        </div>
    </div>
</div>